{% extends 'movie/base.html' %}
{% block body %}
{% load static %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-xs-12">
                <div class="movie-display">
                    <h1>
                        <span property="v:itemreviewed">{{ item.title }}</span>
                        <span class="year">({{ item.year }})</span>
                    </h1>
                    <div class="subject clearfix">
                        <div class="mainpic">
                            <img src="{{ item.poster }}">
                        </div>
                        <div class="info">
                            <span><span class="pl">Director</span>:<span class="attrs">{{ item.director }}</span><br>
                            <span class="actor"><span class="pl">Actors</span>: <span class="attrs"> {{ item.actors }}</span></span><br>
                            <span class="pl">Genre:</span> <span property="v:genre">{{ item.genre }}</span><br>                            
                            <span class="pl">Country:</span> {{ item.genre }}<br>
                            <span class="pl">Language:</span> {{ item.language }}<br>
                            <span class="pl">Released:</span> <span>{{ item.country }}</span><br>
                            <span class="pl">Runtime:</span> <span>{{ item.runtime }}</span><br>
                            <span class="pl">Price:</span> <span>${{ item.price }}</span><br>
                            <span class="pl">Rating:</span> <span>{{ item.rating }}</span><br>
                            <span class="pl">Votes:</span> <span>{{ item.votes }}</span><br>
                        </div>
                    </div>
                    <div class="plot">
                        <h3>Plot</h3>
                            <div class="indent" id="link-report">
                                <span property="v:summary" class="">
                                    {{ item.plot }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
// {#    选择区/县，发送到后台，提取出电影院#}
$(document).ready(function () {
    $(document).on('click', '.dis_', function(){
        var dis = this.text;
        var city = $('#choose-city a').text();
// {#            console.log(city)#}
        $('#choose-dis a').text(dis);

        $.post('/movie/cinema', {
            'city':city,
            'district': dis,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },function (data) {
// {#                console.log(data)#}
//             $('#cache').text(data);
            g_data[dis] = data;
{#            console.log(g_data);#}
            $('#movie-choose-x').html(data);
// {#                console.log($('#cache').text())#}

        })
    })
});
// {#    选择电影院，显示票价#}
$(document).on('click', '.cinema', function () {
    var id = $(this).attr('id');
    cur_cinema_id = id;
    var cinema_name = this.text;
// {#        console.log(cinema_name);#}
    var film = $('.movie-display-img').attr('alt');
    var cur_date = $('.date_.active').attr('id');
    $('#movie-choose-x').html('<h2>正在加载数据</h2>');
    $.post('/movie/tickets', {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        'pk': id,
        'film': film,
        'date': cur_date
    }, function (data) {

        $('#movie-choose-x').html(data);
        $('.cine_').text(cinema_name)


    })
});

// {#    选择日期#}
$(document).on('click', '.date_', function () {
    $('.date_.active').removeClass('active');
    var that = this;
    var date = $(this).attr('id');
    var film = $('.movie-display-img').attr('alt');
    // console.log(date)
    if (cur_cinema_id != null){
        $('#movie-choose-x').html('<h2>正在加载数据</h2>');
        $.post('/movie/tickets',{
            'pk': cur_cinema_id,
            'film' : film,
            'date' : date,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function (data) {
{#            console.log(data);#}
            $('#movie-choose-x').html(data);
            $(that).addClass('active');

        })
    } else {
        $('#movie-choose-x').html('<h2>请先选择影院</h2>');
    }


});
    </script>




    <script type="application/javascript" src="{% static 'movie/js/city_alpha.js' %}"></script>
    <script src="{% static 'movie/js/districts.js' %}" type="application/javascript"></script>
    <script type="application/javascript" src="{% static 'movie/js/formatstr.js' %}"></script>
    <script type="application/javascript" src="{% static 'movie/js/movie.js' %}"></script>
{% endblock %}
